/** @format */
//******************************************
//** breakpoint maps
//******************************************

$breakpoints: (
  $break-key--none: $break-point--none,
  $break-key--xs: $break-point--xs,
  $break-key--sm: $break-point--sm,
  $break-key--md: $break-point--md,
  $break-key--lg: $break-point--lg,
  $break-key--xl: $break-point--xl,
);
