//********************************
//*********** mainpage.scss
//** temporary style class for
//** MainPageLayout.jsx providing
//** custom sizing for layout
//**********************************

.main-container {
    display: flex;
    flex-direction: row;
}

.main-page-layout {
    @include flex-row;
    width: 100%;
}

.main-section {
    display: flex;
    flex-direction: row;
    width: 85%;
}

.homepage {
    width: 75%;
}
