/** @format */

@each $generic, $color in $green {
	@if str-slice($generic, $slice-color-start--7, $slice-color-start--10) ==
		'dark'
	{
		.font-green#{str-slice($generic, $slice-color-class--11)} {
			--font-opacity: 1;
			color: $color;
			opacity: var(--font-opacity);
		}
	} @else {
		.font-green {
			--font-opacity: 1;
			color: $color;
			opacity: var(--font-opacity);
		}
	}
}

@each $generic, $color in $blue {
	@if str-slice($generic, $slice-color-start--6, $slice-color-end--9) == 'dark'
	{
		.font-blue#{str-slice($generic, $slice-color-class--10)} {
			--font-opacity: 1;
			color: $color;
			opacity: var(--font-opacity);
		}
	} @else {
		.font-blue {
			--font-opacity: 1;
			color: $color;
			opacity: var(--font-opacity);
		}
	}
}

@each $generic, $color in $yellow {
	@if str-slice($generic, $slice-color-start--8, $slice-color-end--11) == 'dark'
	{
		.font-yellow#{str-slice($generic, $slice-color-class--12)} {
			--font-opacity: 1;
			color: $color;
			opacity: var(--font-opacity);
		}
	} @else {
		.font-yellow {
			--font-opacity: 1;
			color: $color;
			opacity: var(--font-opacity);
		}
	}
}

@each $generic, $color in $orange {
	@if str-slice($generic, $slice-color-start--8, $slice-color-end--11) == 'dark'
	{
		.font-orange#{str-slice($generic, $slice-color-class--12)} {
			--font-opacity: 1;
			color: $color;
			opacity: var(--font-opacity);
		}
	} @else {
		.font-orange {
			--font-opacity: 1;
			color: $color;
			opacity: var(--font-opacity);
		}
	}
}

@each $generic, $color in $red {
	@if str-slice($generic, $slice-color-start--5, $slice-color-end--8) == 'dark'
	{
		.font-red#{str-slice($generic, $slice-color-class--9)} {
			--font-opacity: 1;
			color: $color;
			opacity: var(--font-opacity);
		}
	} @else {
		.font-red {
			--font-opacity: 1;
			color: $color;
			opacity: var(--font-opacity);
		}
	}
}

@each $generic, $color in $black {
	@if str-slice($generic, $slice-color-start--7, $slice-color-class--10) ==
		'dark'
	{
		.font-black#{str-slice($generic, $slice-color-class--11)} {
			--font-opacity: 1;
			color: $color;
			opacity: var(--font-opacity);
		}
	} @else {
		.font-black {
			--font-opacity: 1;
			color: $color;
			opacity: var(--font-opacity);
		}
	}
}

@each $generic, $color in $gray {
	@if str-slice($generic, $slice-color-start--6, $slice-color-end--9) == 'dark'
	{
		.font-gray#{str-slice($generic, $slice-color-class--10)} {
			--font-opacity: 1;
			color: $color;
			opacity: var(--font-opacity);
		}
	} @else {
		.font-gray {
			--font-opacity: 1;
			color: $color;
			opacity: var(--font-opacity);
		}
	}
}

@each $generic, $color in $white {
	@if str-slice($generic, $slice-color-start--7, $slice-color-end--10) == 'dark'
	{
		.font-white#{str-slice($generic, $slice-color-class--11)} {
			--font-opacity: 1;
			color: $color;
			opacity: var(--font-opacity);
		}
	} @else {
		.font-white {
			--font-opacity: 1;
			color: $color;
			opacity: var(--font-opacity);
		}
	}
}

@each $generic, $color in $green {
	@if str-slice($generic, $slice-color-start--7, 10) == 'dark' {
		.bg-green#{str-slice($generic, 11)} {
			--bg-opacity: 1;
			background-color: $color;
			opacity: var(--bg-opacity);
		}
	} @else {
		.bg-green {
			--bg-opacity: 1;
			background-color: $color;
			opacity: var(--bg-opacity);
		}
	}
}

@each $generic, $color in $blue {
	@if str-slice($generic, $slice-color-start--6, $slice-color-end--9) == 'dark'
	{
		.bg-blue#{str-slice($generic, $slice-color-class--10)} {
			--bg-opacity: 1;
			background-color: $color;
			opacity: var(--bg-opacity);
		}
	} @else {
		.bg-blue {
			--bg-opacity: 1;
			background-color: $color;
			opacity: var(--bg-opacity);
		}
	}
}
@each $generic, $color in $yellow {
	@if str-slice($generic, $slice-color-start--8, $slice-color-end--11) == 'dark'
	{
		.bg-yellow#{str-slice($generic, $slice-color-class--12)} {
			--bg-opacity: 1;
			background-color: $color;
			opacity: var(--bg-opacity);
		}
	} @else {
		.bg-yellow {
			--bg-opacity: 1;
			background-color: $color;
			opacity: var(--bg-opacity);
		}
	}
}
@each $generic, $color in $orange {
	@if str-slice($generic, $slice-color-start--8, 11) == 'dark' {
		.bg-orange#{str-slice($generic, $slice-color-class--12)} {
			--bg-opacity: 1;
			background-color: $color;
			opacity: var(--bg-opacity);
		}
	} @else {
		.bg-orange {
			--bg-opacity: 1;
			background-color: $color;
			opacity: var(--bg-opacity);
		}
	}
}
@each $generic, $color in $red {
	@if str-slice($generic, $slice-color-start--5, $slice-color-end--8) == 'dark'
	{
		.bg-red#{str-slice($generic, $slice-color-end--9)} {
			--bg-opacity: 1;
			background-color: $color;
			opacity: var(--bg-opacity);
		}
	} @else {
		.bg-red {
			--bg-opacity: 1;
			background-color: $color;
			opacity: var(--bg-opacity);
		}
	}
}
@each $generic, $color in $black {
	@if str-slice($generic, $slice-color-start--7, $slice-color-end--10) == 'dark'
	{
		.bg-black#{str-slice($generic, $slice-color-class--11)} {
			--bg-opacity: 1;
			background-color: $color;
			opacity: var(--bg-opacity);
		}
	} @else {
		.bg-black {
			--bg-opacity: 1;
			background-color: $color;
			opacity: var(--bg-opacity);
		}
	}
}
@each $generic, $color in $gray {
	@if str-slice($generic, $slice-color-start--6, $slice-color-end--9) == 'dark'
	{
		.bg-gray#{str-slice($generic, $slice-color-class--10)} {
			--bg-opacity: 1;
			background-color: $color;
			opacity: var(--bg-opacity);
		}
	} @else {
		.bg-gray {
			--bg-opacity: 1;
			background-color: $color;
			opacity: var(--bg-opacity);
		}
	}
}
@each $generic, $color in $white {
	@if str-slice($generic, $slice-color-start--7, $slice-color-end--10) == 'dark'
	{
		.bg-white#{str-slice($generic, $slice-color-class--11)} {
			--bg-opacity: 1;
			background-color: $color;
			opacity: var(--bg-opacity);
		}
	} @else {
		.bg-white {
			--bg-opacity: 1;
			background-color: $color;
			opacity: var(--bg-opacity);
		}
	}
}
