/** @format */

@each $generic, $color in $green {
  @if str-slice($generic, $slice-color-start--7, $slice-color-end--11) ==
    'light'
  {
    .font-green-l#{str-slice($generic, $slice-color-class--12)} {
      --font-opacity: 1;
      color: $color;
      opacity: var(--font-opacity);
    }
  } @else if
    str-slice($generic, $slice-color-start--7, $slice-color-start--10) ==
    'dark'
  {
    .font-green-d#{str-slice($generic, $slice-color-class--11)} {
      --font-opacity: 1;
      color: $color;
      opacity: var(--font-opacity);
    }
  } @else {
    .font-green {
      --font-opacity: 1;
      color: $color;
      opacity: var(--font-opacity);
    }
  }
}

/*---
name: fonts in blue shades based on $color-blue.
content: fonts in shades from light to dark of blue based on the chosen blue in variables.
*/
@each $generic, $color in $blue {
  @if str-slice($generic, $slice-color-start--6, $slice-color-end--10) ==
    'light'
  {
    .font-blue-l#{str-slice($generic, $slice-color-class--11)} {
      --font-opacity: 1;
      color: $color;
      opacity: var(--font-opacity);
    }
  } @else if
    str-slice($generic, $slice-color-start--6, $slice-color-end--9) ==
    'dark'
  {
    .font-blue-d#{str-slice($generic, $slice-color-class--10)} {
      --font-opacity: 1;
      color: $color;
      opacity: var(--font-opacity);
    }
  } @else {
    .font-blue {
      --font-opacity: 1;
      color: $color;
      opacity: var(--font-opacity);
    }
  }
}

/*---
name: fonts in yellow shades based on $color-yellow.
content: fonts in shades from light to dark of yellow based on chosen yellow in variables files.
*/
@each $generic, $color in $yellow {
  @if str-slice($generic, $slice-color-start--8, $slice-color-end--12) ==
    'light'
  {
    .font-yellow-l#{str-slice($generic, $slice-color-class--13)} {
      --font-opacity: 1;
      color: $color;
      opacity: var(--font-opacity);
    }
  } @else if
    str-slice($generic, $slice-color-start--8, $slice-color-end--11) ==
    'dark'
  {
    .font-yellow-l#{str-slice($generic, $slice-color-class--12)} {
      --font-opacity: 1;
      color: $color;
      opacity: var(--font-opacity);
    }
  } @else {
    .font-yellow {
      --font-opacity: 1;
      color: $color;
      opacity: var(--font-opacity);
    }
  }
}

/*---
name: fonts in orange shades based on $color-orange.
content: fonts in shades from light to dark of orange based on orange in variables file.
*/
@each $generic, $color in $orange {
  @if str-slice($generic, $slice-color-start--8, $slice-color-end--12) ==
    'light'
  {
    .font-orange-l#{str-slice($generic, $slice-color-class--13)} {
      --font-opacity: 1;
      color: $color;
      opacity: var(--font-opacity);
    }
  } @else if
    str-slice($generic, $slice-color-start--8, $slice-color-end--11) ==
    'dark'
  {
    .font-orange-l#{str-slice($generic, $slice-color-class--12)} {
      --font-opacity: 1;
      color: $color;
      opacity: var(--font-opacity);
    }
  } @else {
    .font-orange {
      --font-opacity: 1;
      color: $color;
      opacity: var(--font-opacity);
    }
  }
}

/*---
name: fonts in red shades based on $color-red.
content: fonts in shades from light to dark of red based on red in variables file.
*/

@each $generic, $color in $red {
  @if str-slice($generic, $slice-color-start--5, $slice-color-end--9) == 'light'
  {
    .font-red-l#{str-slice($generic, $slice-color-class--10)} {
      --font-opacity: 1;
      color: $color;
      opacity: var(--font-opacity);
    }
  } @else if
    str-slice($generic, $slice-color-start--5, $slice-color-end--8) ==
    'dark'
  {
    .font-red-d#{str-slice($generic, $slice-color-class--9)} {
      --font-opacity: 1;
      color: $color;
      opacity: var(--font-opacity);
    }
  } @else {
    .font-red {
      --font-opacity: 1;
      color: $color;
      opacity: var(--font-opacity);
    }
  }
}

/*---
name: fonts in  black shades based on $color-black.
content: fonts in  shades from light to dark of black based on black in variables file.
*/
@each $generic, $color in $black {
  @if str-slice($generic, $slice-color-start--7, $slice-color-end--11) ==
    'light'
  {
    .font-black-l#{str-slice($generic, $slice-color-class--12)} {
      --font-opacity: 1;
      color: $color;
      opacity: var(--font-opacity);
    }
  } @else if
    str-slice($generic, $slice-color-start--7, $slice-color-class--10) ==
    'dark'
  {
    .font-black-d#{str-slice($generic, $slice-color-class--11)} {
      --font-opacity: 1;
      color: $color;
      opacity: var(--font-opacity);
    }
  } @else {
    .font-black {
      --font-opacity: 1;
      color: $color;
      opacity: var(--font-opacity);
    }
  }
}

/*---
name: fonts in gray shades based on $color-gray.
content: fonts in shades from light to dark of gray based on gray in variables file.

*/
@each $generic, $color in $gray {
  @if str-slice($generic, $slice-color-start--6, $slice-color-end--10) ==
    'light'
  {
    .font-gray-l#{str-slice($generic, $slice-color-class--11)} {
      --font-opacity: 1;
      color: $color;
      opacity: var(--font-opacity);
    }
  } @else if
    str-slice($generic, $slice-color-start--6, $slice-color-end--9) ==
    'dark'
  {
    .font-gray-d#{str-slice($generic, $slice-color-class--10)} {
      --font-opacity: 1;
      color: $color;
      opacity: var(--font-opacity);
    }
  } @else {
    .font-gray {
      --font-opacity: 1;
      color: $color;
      opacity: var(--font-opacity);
    }
  }
}
/*---
name: fonts in white based on $color-white.
content: fonts in shades from light to dark of white based on white in variables file.
*/
@each $generic, $color in $white {
  @if str-slice($generic, $slice-color-start--7, $slice-color-end--11) ==
    'light'
  {
    .font-white-l#{str-slice($generic, $slice-color-class--12)} {
      --font-opacity: 1;
      color: $color;
      opacity: var(--font-opacity);
    }
  } @else if
    str-slice($generic, $slice-color-start--7, $slice-color-end--10) ==
    'dark'
  {
    .font-white-d#{str-slice($generic, $slice-color-class--11)} {
      --font-opacity: 1;
      color: $color;
      opacity: var(--font-opacity);
    }
  } @else {
    .font-white {
      --font-opacity: 1;
      color: $color;
      opacity: var(--font-opacity);
    }
  }
}

@each $generic, $color in $green {
  @if str-slice($generic, $slice-color-start--7, $slice-color-end--11) ==
    'light'
  {
    .bg-green-l#{str-slice($generic, $slice-color-class--12)} {
      --bg-opacity: 1;
      background-color: $color;
      opacity: var(--bg-opacity);
    }
  } @else if str-slice($generic, $slice-color-start--7, 10) == 'dark' {
    .bg-green-d#{str-slice($generic, 11)} {
      --bg-opacity: 1;
      background-color: $color;
      opacity: var(--bg-opacity);
    }
  } @else {
    .bg-green {
      --bg-opacity: 1;
      background-color: $color;
      opacity: var(--bg-opacity);
    }
  }
}

@each $generic, $color in $blue {
  @if str-slice($generic, $slice-color-start--6, $slice-color-end--10) ==
    'light'
  {
    .bg-blue-l#{str-slice($generic, $slice-color-class--11)} {
      --bg-opacity: 1;
      background-color: $color;
      opacity: var(--bg-opacity);
    }
  } @else if
    str-slice($generic, $slice-color-start--6, $slice-color-end--9) ==
    'dark'
  {
    .bg-blue-d#{str-slice($generic, $slice-color-class--10)} {
      --bg-opacity: 1;
      background-color: $color;
      opacity: var(--bg-opacity);
    }
  } @else {
    .bg-blue {
      --bg-opacity: 1;
      background-color: $color;
      opacity: var(--bg-opacity);
    }
  }
}
@each $generic, $color in $yellow {
  @if str-slice($generic, $slice-color-start--8, $slice-color-end--12) ==
    'light'
  {
    .bg-yellow-l#{str-slice($generic, $slice-color-class--13)} {
      --bg-opacity: 1;
      background-color: $color;
      opacity: var(--bg-opacity);
    }
  } @else if
    str-slice($generic, $slice-color-start--8, $slice-color-end--11) ==
    'dark'
  {
    .bg-yellow-d#{str-slice($generic, $slice-color-class--12)} {
      --bg-opacity: 1;
      background-color: $color;
      opacity: var(--bg-opacity);
    }
  } @else {
    .bg-yellow {
      --bg-opacity: 1;
      background-color: $color;
      opacity: var(--bg-opacity);
    }
  }
}
@each $generic, $color in $orange {
  @if str-slice($generic, $slice-color-start--8, $slice-color-end--12) ==
    'light'
  {
    .bg-orange-l#{str-slice($generic, $slice-color-class--13)} {
      --bg-opacity: 1;
      background-color: $color;
      opacity: var(--bg-opacity);
    }
  } @else if str-slice($generic, $slice-color-start--8, 11) == 'dark' {
    .bg-orange-d#{str-slice($generic, $slice-color-class--12)} {
      --bg-opacity: 1;
      background-color: $color;
      opacity: var(--bg-opacity);
    }
  } @else {
    .bg-orange {
      --bg-opacity: 1;
      background-color: $color;
      opacity: var(--bg-opacity);
    }
  }
}
@each $generic, $color in $red {
  @if str-slice($generic, $slice-color-start--5, $slice-color-end--9) == 'light'
  {
    .bg-red-l#{str-slice($generic, $slice-color-class--10)} {
      --bg-opacity: 1;
      background-color: $color;
      opacity: var(--bg-opacity);
    }
  } @else if
    str-slice($generic, $slice-color-start--5, $slice-color-end--8) ==
    'dark'
  {
    .bg-red-d#{str-slice($generic, $slice-color-end--9)} {
      --bg-opacity: 1;
      background-color: $color;
      opacity: var(--bg-opacity);
    }
  } @else {
    .bg-red {
      --bg-opacity: 1;
      background-color: $color;
      opacity: var(--bg-opacity);
    }
  }
}
