/** @format */

@each $generic, $color in $green {
  @if str-slice($generic, $slice-color-start--7, $slice-color-start--10) ==
    'dark'
  {
    @media (min-width: $break-point--lg) {
      .lg\:font-green#{str-slice($generic, $slice-color-class--11)} {
        --font-opacity: 1;
        color: $color;
        opacity: var(--font-opacity);
      }
    }
  } @else {
    @media (min-width: $break-point--lg) {
      .lg\:font-green {
        --font-opacity: 1;
        color: $color;
        opacity: var(--font-opacity);
      }
    }
  }
}
@each $generic, $color in $blue {
  @if str-slice($generic, $slice-color-start--6, $slice-color-end--9) == 'dark'
  {
    @media (min-width: $break-point--lg) {
      .lg\:font-blue#{str-slice($generic, $slice-color-class--10)} {
        --font-opacity: 1;
        color: $color;
        opacity: var(--font-opacity);
      }
    }
  } @else {
    @media (min-width: $break-point--lg) {
      .lg\:font-blue {
        --font-opacity: 1;
        color: $color;
        opacity: var(--font-opacity);
      }
    }
  }
}
@each $generic, $color in $yellow {
  @if str-slice($generic, $slice-color-start--8, $slice-color-end--11) == 'dark'
  {
    @media (min-width: $break-point--lg) {
      .lg\:font-yellow#{str-slice($generic, $slice-color-class--12)} {
        --font-opacity: 1;
        color: $color;
        opacity: var(--font-opacity);
      }
    }
  } @else {
    @media (min-width: $break-point--lg) {
      .lg\:font-yellow {
        --font-opacity: 1;
        color: $color;
        opacity: var(--font-opacity);
      }
    }
  }
}
@each $generic, $color in $orange {
  @if str-slice($generic, $slice-color-start--8, $slice-color-end--11) == 'dark'
  {
    @media (min-width: $break-point--lg) {
      .lg\:font-orange#{str-slice($generic, $slice-color-class--12)} {
        --font-opacity: 1;
        color: $color;
        opacity: var(--font-opacity);
      }
    }
  } @else {
    @media (min-width: $break-point--lg) {
      .lg\:font-orange {
        --font-opacity: 1;
        color: $color;
        opacity: var(--font-opacity);
      }
    }
  }
}
@each $generic, $color in $red {
  @if str-slice($generic, $slice-color-start--5, $slice-color-end--8) == 'dark'
  {
    @media (min-width: $break-point--lg) {
      .lg\:font-red#{str-slice($generic, $slice-color-class--9)} {
        --font-opacity: 1;
        color: $color;
        opacity: var(--font-opacity);
      }
    }
  } @else {
    @media (min-width: $break-point--lg) {
      .lg\:font-red {
        --font-opacity: 1;
        color: $color;
        opacity: var(--font-opacity);
      }
    }
  }
}

@each $generic, $color in $black {
  @if str-slice($generic, $slice-color-start--7, $slice-color-class--10) ==
    'dark'
  {
    @media (min-width: $break-point--lg) {
      .lg\:font-black#{str-slice($generic, $slice-color-class--11)} {
        --font-opacity: 1;
        color: $color;
        opacity: var(--font-opacity);
      }
    }
  } @else {
    @media (min-width: $break-point--lg) {
      .lg\:font-black {
        --font-opacity: 1;
        color: $color;
        opacity: var(--font-opacity);
      }
    }
  }
}
@each $generic, $color in $gray {
  @if str-slice($generic, $slice-color-start--6, $slice-color-end--9) == 'dark'
  {
    @media (min-width: $break-point--lg) {
      .lg\:font-gray#{str-slice($generic, $slice-color-class--10)} {
        --font-opacity: 1;
        color: $color;
        opacity: var(--font-opacity);
      }
    }
  } @else {
    @media (min-width: $break-point--lg) {
      .lg\:font-gray {
        --font-opacity: 1;
        color: $color;
        opacity: var(--font-opacity);
      }
    }
  }
}
@each $generic, $color in $white {
  @if str-slice($generic, $slice-color-start--7, $slice-color-end--10) == 'dark'
  {
    @media (min-width: $break-point--lg) {
      .lg\:font-white#{str-slice($generic, $slice-color-class--11)} {
        --font-opacity: 1;
        color: $color;
        opacity: var(--font-opacity);
      }
    }
  } @else {
    @media (min-width: $break-point--lg) {
      .lg\:font-white {
        --font-opacity: 1;
        color: $color;
        opacity: var(--font-opacity);
      }
    }
  }
}

@each $generic, $color in $green {
  @if str-slice($generic, $slice-color-start--7, $slice-color-end--10) == 'dark'
  {
    @media (min-width: $break-point--lg) {
      .lg\:bg-green#{str-slice($generic, $slice-color-class--11)} {
        --bg-opacity: 1;
        background-color: $color;
        opacity: var(--bg-opacity);
      }
    }
  } @else {
    @media (min-width: $break-point--lg) {
      .lg\:bg-green {
        --bg-opacity: 1;
        background-color: $color;
        opacity: var(--bg-opacity);
      }
    }
  }
}

@each $generic, $color in $blue {
  @if str-slice($generic, $slice-color-start--6, $slice-color-end--9) == 'dark'
  {
    @media (min-width: $break-point--lg) {
      .lg\:bg-blue#{str-slice($generic, $slice-color-class--10)} {
        --bg-opacity: 1;
        background-color: $color;
        opacity: var(--bg-opacity);
      }
    }
  } @else {
    @media (min-width: $break-point--lg) {
      .lg\:bg-blue {
        --bg-opacity: 1;
        background-color: $color;
        opacity: var(--bg-opacity);
      }
    }
  }
}
@each $generic, $color in $yellow {
  @if str-slice($generic, $slice-color-start--8, $slice-color-end--11) == 'dark'
  {
    @media (min-width: $break-point--lg) {
      .lg\:bg-yellow#{str-slice($generic, $slice-color-class--12)} {
        --bg-opacity: 1;
        background-color: $color;
        opacity: var(--bg-opacity);
      }
    }
  } @else {
    @media (min-width: $break-point--lg) {
      .lg\:bg-yellow {
        --bg-opacity: 1;
        background-color: $color;
        opacity: var(--bg-opacity);
      }
    }
  }
}
@each $generic, $color in $orange {
  @if str-slice($generic, $slice-color-start--8, $slice-color-end--11) == 'dark'
  {
    @media (min-width: $break-point--lg) {
      .lg\:bg-orange#{str-slice($generic, $slice-color-class--12)} {
        --bg-opacity: 1;
        background-color: $color;
        opacity: var(--bg-opacity);
      }
    }
  } @else {
    @media (min-width: $break-point--lg) {
      .lg\:bg-orange {
        --bg-opacity: 1;
        background-color: $color;
        opacity: var(--bg-opacity);
      }
    }
  }
}
@each $generic, $color in $red {
  @if str-slice($generic, $slice-color-start--5, $slice-color-end--8) == 'dark'
  {
    @media (min-width: $break-point--lg) {
      .lg\:bg-red#{str-slice($generic, $slice-color-end--9)} {
        --bg-opacity: 1;
        background-color: $color;
        opacity: var(--bg-opacity);
      }
    }
  } @else {
    @media (min-width: $break-point--lg) {
      .lg\:bg-red {
        --bg-opacity: 1;
        background-color: $color;
        opacity: var(--bg-opacity);
      }
    }
  }
}
@each $generic, $color in $black {
  @if str-slice($generic, $slice-color-start--7, $slice-color-end--10) == 'dark'
  {
    @media (min-width: $break-point--lg) {
      .lg\:bg-black#{str-slice($generic, $slice-color-class--11)} {
        --bg-opacity: 1;
        background-color: $color;
        opacity: var(--bg-opacity);
      }
    }
  } @else {
    @media (min-width: $break-point--lg) {
      .lg\:bg-black {
        --bg-opacity: 1;
        background-color: $color;
        opacity: var(--bg-opacity);
      }
    }
  }
}
@each $generic, $color in $gray {
  @if str-slice($generic, $slice-color-start--6, $slice-color-end--9) == 'dark'
  {
    @media (min-width: $break-point--lg) {
      .lg\:bg-gray#{str-slice($generic, $slice-color-class--10)} {
        --bg-opacity: 1;
        background-color: $color;
        opacity: var(--bg-opacity);
      }
    }
  } @else {
    @media (min-width: $break-point--lg) {
      .lg\:bg-gray {
        --bg-opacity: 1;
        background-color: $color;
        opacity: var(--bg-opacity);
      }
    }
  }
}
@each $generic, $color in $white {
  @if str-slice($generic, $slice-color-start--7, $slice-color-end--10) == 'dark'
  {
    @media (min-width: $break-point--lg) {
      .lg\:bg-white#{str-slice($generic, $slice-color-class--11)} {
        --bg-opacity: 1;
        background-color: $color;
        opacity: var(--bg-opacity);
      }
    }
  } @else {
    @media (min-width: $break-point--lg) {
      .lg\:bg-white {
        --bg-opacity: 1;
        background-color: $color;
        opacity: var(--bg-opacity);
      }
    }
  }
}
