/** @format */

$font-opacity: 1;
$bg-opacity: 1;

@each $generic, $color in $green {
  @if str-slice($generic, $slice-color-start--7, $slice-color-start--10) ==
    'dark'
  {
    @media (min-width: $break-point--md) {
      .md\:font-green#{str-slice($generic, $slice-color-class--11)} {
        --bg-opacity: 1;
        color: $color;
        opacity: var(--bg-opacity);
      }
    }
  } @else {
    @media (min-width: $break-point--md) {
      .md\:font-green {
        --bg-opacity: 1;
        color: $color;
        opacity: var(--bg-opacity);
      }
    }
  }
}
@each $generic, $color in $blue {
  @if str-slice($generic, $slice-color-start--6, $slice-color-end--9) == 'dark'
  {
    @media (min-width: $break-point--md) {
      .md\:font-blue#{str-slice($generic, $slice-color-class--10)} {
        --bg-opacity: 1;
        color: $color;
        opacity: var(--bg-opacity);
      }
    }
  } @else {
    @media (min-width: $break-point--md) {
      .md\:font-blue {
        --bg-opacity: 1;
        color: $color;
        opacity: var(--bg-opacity);
      }
    }
  }
}
@each $generic, $color in $yellow {
  @if str-slice($generic, $slice-color-start--8, $slice-color-end--11) == 'dark'
  {
    @media (min-width: $break-point--md) {
      .md\:font-yellow#{str-slice($generic, $slice-color-class--12)} {
        --bg-opacity: 1;
        color: $color;
        opacity: var(--bg-opacity);
      }
    }
  } @else {
    @media (min-width: $break-point--md) {
      .md\:font-yellow {
        color: $color;
        opacity: var(--bg-opacity);
      }
    }
  }
}
@each $generic, $color in $orange {
  @if str-slice($generic, $slice-color-start--8, $slice-color-end--11) == 'dark'
  {
    @media (min-width: $break-point--md) {
      .md\:font-orange#{str-slice($generic, $slice-color-class--12)} {
        --bg-opacity: 1;
        color: $color;
        opacity: var(--bg-opacity);
      }
    }
  } @else {
    @media (min-width: $break-point--md) {
      .md\:font-orange {
        --bg-opacity: 1;
        color: $color;
        opacity: var(--bg-opacity);
      }
    }
  }
}
@each $generic, $color in $red {
  @if str-slice($generic, $slice-color-start--5, $slice-color-end--8) == 'dark'
  {
    @media (min-width: $break-point--md) {
      .md\:font-red#{str-slice($generic, $slice-color-class--9)} {
        --bg-opacity: 1;
        color: $color;
        opacity: var(--bg-opacity);
      }
    }
  } @else {
    @media (min-width: $break-point--md) {
      .md\:font-red {
        --bg-opacity: 1;
        color: $color;
        opacity: var(--bg-opacity);
      }
    }
  }
}

/*---
name: fonts in  black shades based on $color-black.
content: fonts in  shades from light to dark of black based on black in variables file.
*/
@each $bl-color, $black-color in $black {
  @if str-slice($bl-color, 1, 5) == 'light' {
    .md\:font-l-black#{str-slice($bl-color, 12)} {
      color: $black-color;
      opacity: $font-opacity;
    }
  } @else if str-slice($bl-color, 1, 4) == 'dark' {
    .md\:font-d-black#{str-slice($bl-color, 11)} {
      color: $black-color;
      opacity: $font-opacity;
    }
  } @else {
    .md\:font-base-black {
      color: $black-color;
      opacity: $font-opacity;
    }
  }
}

/*---
name: fonts in gray shades based on $color-gray.
content: fonts in shades from light to dark of gray based on gray in variables file.

*/
@each $gr-color, $gray-color in $gray {
  @if str-slice($gr-color, 1, 5) == 'light' {
    .md\:font-l-gray#{str-slice($gr-color, 11)} {
      color: $gray-color;
      opacity: $font-opacity;
    }
  } @else if str-slice($gr-color, 1, 4) == 'dark' {
    .md\:font-d-gray#{str-slice($gr-color, 10)} {
      color: $gray-color;
      opacity: $font-opacity;
    }
  } @else {
    .md\:font-base-gray {
      color: $gray-color;
      opacity: $font-opacity;
    }
  }
}
/*---
name: fonts in white based on $color-white.
content: fonts in shades from light to dark of white based on white in variables file.
*/
@each $w-color, $white-color in $white {
  @if str-slice($w-color, 1, 5) == 'light' {
    .md\:font-l-white#{str-slice($w-color, 12)} {
      color: $white-color;
      opacity: $font-opacity;
    }
  } @else if str-slice($w-color, 1, 4) == 'dark' {
    .md\:font-d-white#{str-slice($w-color, 11)} {
      color: $white-color;
      opacity: $font-opacity;
    }
  } @else {
    .md\:font-base-white {
      color: $white-color;
      opacity: $font-opacity;
    }
  }
}

@each $g-color, $green-color in $green {
  @if str-slice($g-color, 1, 5) == 'light' {
    .md\:bg-l-green#{str-slice($g-color, 12)} {
      background-color: $green-color;
      opacity: $bg-opacity;
    }
  } @else if str-slice($g-color, 1, 4) == 'dark' {
    .md\:bg-d-green#{str-slice($g-color, 11)} {
      background-color: $green-color;
      opacity: $bg-opacity;
    }
  } @else {
    .md\:bg-base-green {
      background-color: $green-color;
      opacity: $bg-opacity;
    }
  }
}

@each $b-color, $blue-color in $blue {
  @if str-slice($b-color, 1, 5) == 'light' {
    .md\:bg-l-blue#{str-slice($b-color, 11)} {
      background-color: $blue-color;
      opacity: $bg-opacity;
    }
  } @else if str-slice($b-color, 1, 4) == 'dark' {
    .md\:bg-d-blue#{str-slice($b-color, 10)} {
      background-color: $blue-color;
      opacity: $bg-opacity;
    }
  } @else {
    .md\:bg-base-blue {
      background-color: $blue-color;
      opacity: $bg-opacity;
    }
  }
}
@each $y-color, $yellow-color in $yellow {
  @if str-slice($y-color, 1, 5) == 'light' {
    .md\:bg-l-yellow#{str-slice($y-color, 13)} {
      background-color: $yellow-color;
      opacity: $bg-opacity;
    }
  } @else if str-slice($y-color, 1, 4) == 'dark' {
    .md\:bg-d-yellow#{str-slice($y-color, 12)} {
      background-color: $yellow-color;
      opacity: $bg-opacity;
    }
  } @else {
    .md\:bg-base-yellow {
      background-color: $yellow-color;
      opacity: $bg-opacity;
    }
  }
}
@each $o-color, $color in $orange {
  @if str-slice($o-color, $slice-color-start--8, $slice-color-end--11) == 'dark'
  {
    @media (min-width: $break-point--md) {
      .md\:bg-orange#{str-slice($o-color, $slice-color-class--12)} {
        background-color: $color;
        opacity: $bg-opacity;
      }
    }
  } @else {
    @media (min-width: $break-point--md) {
      .md\:bg-orange {
        background-color: $color;
        opacity: $bg-opacity;
      }
    }
  }
}
@each $generic, $color in $red {
  @if str-slice($generic, 1, 5) == 'light' {
    .md\:bg-l-red#{str-slice($generic, 10)} {
      background-color: $color;
      opacity: $bg-opacity;
    }
  } @else if str-slice($generic, 1, 4) == 'dark' {
    .md\:bg-d-red#{str-slice($generic, 9)} {
      background-color: $color;
      opacity: $bg-opacity;
    }
  } @else {
    .md\:bg-base-red {
      background-color: $color;
      opacity: $bg-opacity;
    }
  }
}
