/** @format */

@each $generic, $color in $green {
  @if str-slice($generic, $slice-color-start--7, $slice-color-end--10) == 'dark'
  {
    @media (min-width: $break-point--xs) {
      .xs\:font-green#{str-slice($generic, $slice-color-class--11)} {
        --font-opacity: 1;
        color: $color;
        opacity: var(--font-opacity);
      }
    }
  } @else {
    @media (min-width: $break-point--xs) {
      .xs\:font-green {
        --font-opacity: 1;
        color: $color;
        opacity: var(--font-opacity);
      }
    }
  }
}

@each $generic, $color in $blue {
  @if str-slice($generic, $slice-color-start--6, $slice-color-end--9) == 'dark'
  {
    @media (min-width: $break-point--xs) {
      .xs\:font-blue#{str-slice($generic, $slice-color-class--10)} {
        --font-opacity: 1;
        color: $color;
        opacity: var(--font-opacity);
      }
    }
  } @else {
    @media (min-width: $break-point--xs) {
      .xs\:font-blue {
        --font-opacity: 1;
        color: $color;
        opacity: var(--font-opacity);
      }
    }
  }
}
@each $generic, $color in $yellow {
  @if str-slice($generic, $slice-color-start--8, $slice-color-end--11) == 'dark'
  {
    @media (min-width: $break-point--xs) {
      .xs\:font-yellow#{str-slice($generic, $slice-color-class--12)} {
        --font-opacity: 1;
        color: $color;
        opacity: var(--font-opacity);
      }
    }
  } @else {
    @media (min-width: $break-point--xs) {
      .xs\:font-yellow {
        --font-opacity: 1;
        color: $color;
        opacity: var(--font-opacity);
      }
    }
  }
}

@each $generic, $color in $orange {
  @if str-slice($generic, $slice-color-start--8, $slice-color-end--11) == 'dark'
  {
    @media (min-width: $break-point--xs) {
      .xs\:font-orange#{str-slice($generic, $slice-color-class--12)} {
        --font-opacity: 1;
        color: $color;
        opacity: var(--font-opacity);
      }
    }
  } @else {
    @media (min-width: $break-point--xs) {
      .xs\:font-orange {
        --font-opacity: 1;
        color: $color;
        opacity: var(--font-opacity);
      }
    }
  }
}

@each $generic, $color in $red {
  @if str-slice($generic, $slice-color-start--5, $slice-color-end--8) == 'dark'
  {
    @media (min-width: $break-point--xs) {
      .xs\:font-red#{str-slice($generic, $slice-color-class--9)} {
        --font-opacity: 1;
        color: $color;
        opacity: var(--font-opacity);
      }
    }
  } @else {
    @media (min-width: $break-point--xs) {
      .xs\:font-red {
        --font-opacity: 1;
        color: $color;
        opacity: var(--font-opacity);
      }
    }
  }
}
@each $generic, $color in $black {
  @if str-slice($generic, $slice-color-start--7, $slice-color-end--10) == 'dark'
  {
    @media (min-width: $break-point--xs) {
      .xs\:font-black#{str-slice($generic, $slice-color-class--11)} {
        --font-opacity: 1;
        color: $color;
        opacity: var(--font-opacity);
      }
    }
  } @else {
    @media (min-width: $break-point--xs) {
      .xs\:font-black {
        --font-opacity: 1;
        color: $color;
        opacity: var(--font-opacity);
      }
    }
  }
}

@each $generic, $color in $gray {
  @if str-slice($generic, $slice-color-start--6, $slice-color-end--9) == 'dark'
  {
    @media (min-width: $break-point--xs) {
      .xs\:font-gray#{str-slice($generic, $slice-color-class--10)} {
        --font-opacity: 1;
        color: $color;
        opacity: var(--font-opacity);
      }
    }
  } @else {
    @media (min-width: $break-point--xs) {
      .xs\:font-gray {
        --font-opacity: 1;
        color: $color;
        opacity: var(--font-opacity);
      }
    }
  }
}
@each $generic, $color in $white {
  @if str-slice($generic, $slice-color-start--7, $slice-color-end--10) == 'dark'
  {
    @media (min-width: $break-point--xs) {
      .xs\:font-white#{str-slice($generic, $slice-color-class--11)} {
        --font-opacity: 1;
        color: $color;
        opacity: var(--font-opacity);
      }
    }
  } @else {
    @media (min-width: $break-point--xs) {
      .xs\:font-white {
        --font-opacity: 1;
        color: $color;
        opacity: var(--font-opacity);
      }
    }
  }
}

@each $generic, $color in $green {
  @if str-slice($generic, $slice-color-start--7, $slice-color-end--10) == 'dark'
  {
    @media (min-width: $break-point--xs) {
      .xs\:bg-green#{str-slice($generic, $slice-color-class--11)} {
        --bg-opacity: 1;
        background-color: $color;
        opacity: var(--bg-opacity);
      }
    }
  } @else {
    @media (min-width: $break-point--xs) {
      .xs\:bg-green {
        --bg-opacity: 1;
        background-color: $color;
        opacity: var(--bg-opacity);
      }
    }
  }
}

@each $generic, $color in $blue {
  @if str-slice($generic, $slice-color-start--6, $slice-color-end--9) == 'dark'
  {
    @media (min-width: $break-point--xs) {
      .xs\:bg-blue#{str-slice($generic, $slice-color-class--10)} {
        --bg-opacity: 1;
        background-color: $color;
        opacity: var(--bg-opacity);
      }
    }
  } @else {
    @media (min-width: $break-point--xs) {
      .xs\:bg-blue {
        --bg-opacity: 1;
        background-color: $color;
        opacity: var(--bg-opacity);
      }
    }
  }
}
@each $generic, $color in $yellow {
  @if str-slice($generic, $slice-color-start--8, $slice-color-end--11) == 'dark'
  {
    @media (min-width: $break-point--xs) {
      .xs\:bg-yellow#{str-slice($generic, $slice-color-class--12)} {
        --bg-opacity: 1;
        background-color: $color;
        opacity: var(--bg-opacity);
      }
    }
  } @else {
    @media (min-width: $break-point--xs) {
      .xs\:bg-yellow {
        --bg-opacity: 1;
        background-color: $color;
        opacity: var(--bg-opacity);
      }
    }
  }
}
@each $generic, $color in $orange {
  @if str-slice($generic, $slice-color-start--8, $slice-color-end--11) == 'dark'
  {
    @media (min-width: $break-point--xs) {
      .xs\:bg-orange#{str-slice($generic, $slice-color-class--12)} {
        --bg-opacity: 1;
        background-color: $color;
        opacity: var(--bg-opacity);
      }
    }
  } @else {
    @media (min-width: $break-point--xs) {
      .xs\:bg-orange {
        --bg-opacity: 1;
        background-color: $color;
        opacity: var(--bg-opacity);
      }
    }
  }
}
@each $generic, $color in $red {
  @if str-slice($generic, $slice-color-start--5, $slice-color-end--8) == 'dark'
  {
    @media (min-width: $break-point--xs) {
      .xs\:bg-red#{str-slice($generic, $slice-color-class--9)} {
        --bg-opacity: 1;
        background-color: $color;
        opacity: var(--bg-opacity);
      }
    }
  } @else {
    @media (min-width: $break-point--xs) {
      .xs\:bg-red {
        --bg-opacity: 1;
        background-color: $color;
        opacity: var(--bg-opacity);
      }
    }
  }
}
@each $generic, $color in $black {
  @if str-slice($generic, $slice-color-start--7, $slice-color-end--10) == 'dark'
  {
    @media (min-width: $break-point--xs) {
      .xs\:bg-black#{str-slice($generic, $slice-color-class--11)} {
        --bg-opacity: 1;
        background-color: $color;
        opacity: var(--bg-opacity);
      }
    }
  } @else {
    @media (min-width: $break-point--xs) {
      .xs\:bg-black {
        --bg-opacity: 1;
        background-color: $color;
        opacity: var(--bg-opacity);
      }
    }
  }
}
@each $generic, $color in $gray {
  @if str-slice($generic, $slice-color-start--6, $slice-color-end--9) == 'dark'
  {
    @media (min-width: $break-point--xs) {
      .xs\:bg-gray#{str-slice($generic, $slice-color-class--10)} {
        --bg-opacity: 1;
        background-color: $color;
        opacity: var(--bg-opacity);
      }
    }
  } @else {
    @media (min-width: $break-point--xs) {
      .xs\:bg-gray {
        --bg-opacity: 1;
        background-color: $color;
        opacity: var(--bg-opacity);
      }
    }
  }
}
