/** @format */

//************************************************
//********************************************
//*************************************
//** @name font-size placeholders
//** font-size utility class placeholders live
//** here. custom components away we go.
//************************************************

%text--xs {
  font-size: $text--xs;
}

%text--sm {
  font-size: $text--sm;
}

%text--tiny {
  font-size: $text--tiny;
}

%text--base {
  font-size: $text--base;
}

%text--lg {
  font-size: $text--lg;
}

%text--xl {
  font-size: $text--xl;
}

%text--2xl {
  font-size: $text--2xl;
}

%text--3xl {
  font-size: $text--3xl;
}

%text--4xl {
  font-size: $text--4xl;
}

%text--5xl {
  font-size: $text--5xl;
}

%text--6xl {
  font-size: $text--6xl;
}

%text--7xl {
  font-size: $text--7xl;
}

%text--title {
  font-size: $text--title;
}

%text--lead {
  font-size: $text--lead;
}

%text--code {
  font-size: $text--base;
}
