/** @format */

%bg--svg {
  background-color: #00171f;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpolygon fill='%2326141b' points='1600 160 0 460 0 350 1600 50'/%3E%3Cpolygon fill='%234c1217' points='1600 260 0 560 0 450 1600 150'/%3E%3Cpolygon fill='%23730f12' points='1600 360 0 660 0 550 1600 250'/%3E%3Cpolygon fill='%23990d0e' points='1600 460 0 760 0 650 1600 350'/%3E%3Cpolygon fill='%23bf0a0a' points='1600 800 0 800 0 750 1600 450'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  /* background by www.svgbackgrounds.com */
}

.bg--svg {
  background-color: #00171f;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpolygon fill='%2326141b' points='1600 160 0 460 0 350 1600 50'/%3E%3Cpolygon fill='%234c1217' points='1600 260 0 560 0 450 1600 150'/%3E%3Cpolygon fill='%23730f12' points='1600 360 0 660 0 550 1600 250'/%3E%3Cpolygon fill='%23990d0e' points='1600 460 0 760 0 650 1600 350'/%3E%3Cpolygon fill='%23bf0a0a' points='1600 800 0 800 0 750 1600 450'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  /* background by www.svgbackgrounds.com */
}

.bg--malibu-grad {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    60deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(7, 6, 91, 1) 29%,
    rgba(9, 9, 121, 0.9654236694677871) 36%,
    rgba(4, 132, 202, 1) 49%,
    rgba(0, 212, 255, 1) 77%
  );
}

.bg--grad {
  background-color: #21d4fd;
  background-image: linear-gradient(75deg, #21d4fd 0%, #b721ff 100%);
}
