/** @format */

//***************************************************
//** color maps for color module
//***************************************************

//************************************************
//* @name color maps
//* color map of the color variables
//* each color lighten from 35% lighten to 35% darken
//* with the color being the base color
//* for a each loop for easy access and looping.
//*************************************************

$green: (
	base: $color-green,
	green-dark--100: darken($color-green, $percent-5),
	green-dark--200: darken($color-green, $percent-7),
	green-dark--300: darken($color-green, $percent-10),
	green-dark--400: darken($color-green, $percent-12),
	green-dark--500: darken($color-green, $percent-15),
	green-dark--600: darken($color-green, $percent-20),
	green-dark--700: darken($color-green, $percent-25),
	green-dark--800: darken($color-green, $percent-30),
	green-dark--900: darken($color-green, $percent-35) //35 //40 //45 //50,,,,,,
);
$blue: (
	base: $color-blue,
	blue-dark--100: darken($color-blue, $percent-5),
	blue-dark--200: darken($color-blue, $percent-7),
	blue-dark--300: darken($color-blue, $percent-10),
	blue-dark--400: darken($color-blue, $percent-12),
	blue-dark--500: darken($color-blue, $percent-15),
	blue-dark--600: darken($color-blue, $percent-20),
	blue-dark--700: darken($color-blue, $percent-25),
	blue-dark--800: darken($color-blue, $percent-30),
	blue-dark--900: darken($color-blue, $percent-35)
);
$yellow: (
	base: $color-yellow,
	yellow-dark--100: darken($color-yellow, $percent-5),
	yellow-dark--200: darken($color-yellow, $percent-7),
	yellow-dark--300: darken($color-yellow, $percent-10),
	yellow-dark--400: darken($color-yellow, $percent-12),
	yellow-dark--500: darken($color-yellow, $percent-15),
	yellow-dark--600: darken($color-yellow, $percent-20),
	yellow-dark--700: darken($color-yellow, $percent-25),
	yellow-dark--800: darken($color-yellow, $percent-30),
	yellow-dark--900: darken($color-yellow, $percent-35)
);
$orange: (
	base: $color-orange,
	orange-dark--100: darken($color-orange, $percent-5),
	orange-dark--200: darken($color-orange, $percent-7),
	orange-dark--300: darken($color-orange, $percent-10),
	orange-dark--400: darken($color-orange, $percent-12),
	orange-dark--500: darken($color-orange, $percent-15),
	orange-dark--600: darken($color-orange, $percent-20),
	orange-dark--700: darken($color-orange, $percent-25),
	orange-dark--800: darken($color-orange, $percent-30),
	orange-dark--900: darken($color-orange, $percent-35)
);
$red: (
	base: $color-red,
	red-dark--100: darken($color-red, $percent-5),
	red-dark--200: darken($color-red, $percent-7),
	red-dark--300: darken($color-red, $percent-10),
	red-dark--400: darken($color-red, $percent-12),
	red-dark--500: darken($color-red, $percent-15),
	red-dark--600: darken($color-red, $percent-20),
	red-dark--700: darken($color-red, $percent-25),
	red-dark--800: darken($color-red, $percent-30),
	red-dark--900: darken($color-red, $percent-35)
);
$black: (
	base: $color-black,
	black-dark--100: darken($color-black, $percent-5),
	black-dark--200: darken($color-black, $percent-7),
	black-dark--300: darken($color-black, $percent-10),
	black-dark--400: darken($color-black, $percent-12),
	black-dark--500: darken($color-black, $percent-15),
	black-dark--600: darken($color-black, $percent-20),
	black-dark--700: darken($color-black, $percent-25),
	black-dark--800: darken($color-black, $percent-30),
	black-dark--900: darken($color-black, $percent-35)
);
$gray: (
	base: $color-gray,
	gray-dark--100: darken($color-gray, $percent-5),
	gray-dark--200: darken($color-gray, $percent-7),
	gray-dark--300: darken($color-gray, $percent-10),
	gray-dark--400: darken($color-gray, $percent-12),
	gray-dark--500: darken($color-gray, $percent-15),
	gray-dark--600: darken($color-gray, $percent-20),
	gray-dark--700: darken($color-gray, $percent-25),
	gray-dark--800: darken($color-gray, $percent-30),
	gray-dark--900: darken($color-gray, $percent-35)
);
$white: (
	base: $color-white,
	white-dark--100: darken($color-white, $percent-5),
	white-dark--200: darken($color-white, $percent-7),
	white-dark--300: darken($color-white, $percent-10),
	white-dark--400: darken($color-white, $percent-12),
	white-dark--500: darken($color-white, $percent-15),
	white-dark--600: darken($color-white, $percent-20),
	white-dark--700: darken($color-white, $percent-25),
	white-dark--800: darken($color-white, $percent-30),
	white-dark--900: darken($color-white, $percent-35)
);
