/** @format */

//***************************************************
//* Header section
//* @name header
//* @for Header.jsx
//* @use use until refactor with utility components.
//***************************************************

.header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	border: 1px pink solid;
}

.header__title {
	padding: 2rem;

	// margin: 15px 20px;
	// color: $color-black;
	// font-size: 3em;
}

.nav__container {
	width: 35%;
}
