/** @format */

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 82px;
}

.nav__link {
  font-size: 1.8rem;
}

.nav--main {
  display: flex;
  flex-direction: column;
}
