/** @format */

.main-section {
    display: flex;
    height: 100%;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 82px;
}

.navigation {
    position: relative;
    right: 0;
    top: 80%;
    width: 20%;
    // height: 100%;
    overflow: scroll;
    margin-top: -2.5em;
}

.nav__link {
    font-size: 1.8rem;
}

.nav--main {
    display: flex;
    flex-direction: column;
}
